
a {
    color: #607B96;
}

.site {
    background:
        linear-gradient(0deg, #011627, #011627),
        linear-gradient(0deg, #1E2D3D, #1E2D3D);
    color: #607B96;
    border: 1px solid #1E2D3D; 
    border-radius: 8px;
}