.main-nav {
    display: block;
    flex-grow: 1;
}

.main-nav ul {
    display: flex;
}

.main-nav li {
display: block;
}

.main-nav li:last-child {
    margin-left: auto;
}

a:hover {
    color: #fff;
    background-color: #1e2d3d;
  }