body, html {
    margin: 30px;
    background-color: #010C15;
  }

.introduction, .container-content, .projects {
    padding: 5em;
}

.greeting {
    color: #fff;
}

.greeting .name {
    color: #fff;
    display: block;
    font-size: 3em;
    line-height: 1;
}

.job-title {
    font-size: 1.8em;
    color: #4d5bce;
    padding-bottom: 3em;
}

.github-profile .const {
    color: #4d5bce;
}

.github-profile .let {
    color: #43D9AD;
}

.github-profile .equals {
    color: #fff;
}

.github-profile .value {
    color: #e99287;
}

.site-main {
    border-radius: 8px;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.study-img {
    width: 100%;
}

.container-content {
    display: flex;
}

.left-side {
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    border-right: 1px solid #1E2D3D;
}