html {
        
}

body {
    background-color: #010C15;
    margin: 30px;

}

.introduction,
.container-content,
.projects {
    padding: 5em;
}

.greeting {
    color: #fff;
}

.greeting .name {
    color: #fff;
    display: block;
    font-size: 3em;
    line-height: 1;
}

.job-title {
    font-size: 1.8em;
    color: #4d5bce;
    padding-bottom: 3em;
}

.github-profile .const {
    color: #4d5bce;
}

.github-profile .let {
    color: #43D9AD;
}

.github-profile .equals {
    color: #fff;
}

.github-profile .value {
    color: #e99287;
}

.site-main {
    border-radius: 8px;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.study-img {
    width: 100%;
}

.container-content {
    display: flex;
}

.left-side {
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    border-right: 1px solid #1E2D3D;
}

.container-projects {

    max-width: 1200;
    margin: 0 auto;
}

.container-projects header {
    text-align: center;
}

.pr-title {
    flex: 1 0 20%;
    gap: 10;
    border-radius: 12px;
    width: 30%;
    background: #1e2d3d;
}

.pr-title img {
    display: block;
    width: 100%;
}

.projects-list {
    padding: 10em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
